aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.2
altair==5.2.0
annotated-types==0.7.0
antlr4-python3-runtime==4.8
anyio==4.8.0
argcomplete==3.2.2
asgiref==3.8.1
async-timeout==5.0.1
attrs==25.1.0
autobahn==24.4.2
Automat==24.8.1
aws-mfa==0.0.12
awscli-local==0.22.0
backoff==2.2.1
beautifulsoup4==4.12.2
bitarray==2.9.2
blinker==1.7.0
boto3==1.37.2
botocore==1.37.2
Brotli==1.1.0
cachetools==5.5.1
certifi==2025.1.31
cffi==1.16.0
channels==4.1.0
charset-normalizer==3.4.1
click==8.1.7
colorama==0.4.6
constantly==23.10.4
contourpy==1.3.2
coverage==7.8.0
cryptography==44.0.1
cssselect==1.2.0
cssselect2==0.7.0
cycler==0.12.1
Cython==3.0.8
daphne==4.1.2
dateparse==1.4.0
DateTime==4.9
Deprecated==1.2.18
distlib==0.3.6
distro==1.9.0
Django==4.2.10
django-admin-interface==0.30.1
django-colorfield==0.14.0
django-cors-headers==4.7.0
django-cron==0.6.0
django-sendgrid-v5==1.2.3
django-storages==1.14.6
djangorestframework==3.15.2
docopt==0.6.2
et_xmlfile==2.0.0
fairseq==0.12.2
faiss-cpu==1.7.4
fastapi==0.109.2
feedfinder2==0.0.4
feedparser==6.0.10
ffmpeg-python==0.2.0
ffmpy==0.3.2
filelock==3.9.0
Flask==3.0.3
Flask-Cors==4.0.0
fonttools==4.48.1
frozenlist==1.5.0
fsspec==2024.2.0
future==0.18.3
google-api-core==2.24.1
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-pubsub==2.29.0
googleapis-common-protos==1.67.0rc1
gradio>=5.0.0
gradio_client>=1.0.0
greenlet==3.1.1
grpc-google-iam-v1==0.14.2
grpcio==1.72.0rc1
grpcio-status==1.71.0
gunicorn==22.0.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.20.3
hydra-core==1.0.7
hyperlink==21.0.0
idna==3.10
importlib-resources==6.1.1
importlib_metadata==8.6.1
incremental==24.7.2
iniconfig==2.1.0
itsdangerous==2.2.0
jieba3k==0.35.1
Jinja2==3.1.3
jiter==0.8.2
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
langfuse==2.55.0
localstack-client==2.7
lxml==4.9.3
markdown-it-py==3.0.0
markdown2==2.4.13
Markdown2PDF==0.1.4
MarkupSafe==2.1.5
matplotlib==3.8.3
md2pdf==1.0.1
mdurl==0.1.2
mpmath==1.3.0
multidict==6.1.0
networkx==3.2.1
newsapi-python==0.2.7
newspaper3k==0.2.8
nltk==3.8.1
numpy==2.1.3
oauthlib==3.2.2
ollama==0.4.2
omegaconf==2.0.6
openai==1.61.0
openpyxl==3.1.5
opentelemetry-api==1.32.1
opentelemetry-sdk==1.32.1
opentelemetry-semantic-conventions==0.53b1
orjson==3.9.14
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.3
pdf2img==0.1.2
Pillow==10.0.0
pipenv==2023.2.18
pipx==1.4.3
platformdirs==3.1.0
playwright==1.50.0
pluggy==1.5.0
portalocker==2.8.2
prettytable==3.14.0
propcache==0.2.1
proto-plus==1.26.0
protobuf==5.29.3
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.21
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
pydyf==0.9.0
pyee==12.1.1
Pygments==2.17.2
pygooglenews==0.1.2
PyJWT==2.10.1
pyOpenSSL==25.0.0
pyparsing==3.2.1
pyphen==0.14.0
pypng==0.20220715.0
PySocks==1.7.1
pytest==8.3.5
pytest-cov==6.1.1
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.1
python-http-client==3.3.7
python-multipart==0.0.9
python-slugify==8.0.4
pytz==2023.3.post1
PyYAML==6.0.1
qrcode==7.4.2
redis==5.2.1
referencing==0.33.0
regex==2023.10.3
requests==2.32.3
requests-file==1.5.1
requests-oauthlib==2.0.0
rich==13.7.0
rpds-py==0.18.0
rsa==4.9
ruff==0.2.1
s3transfer==0.11.3
sacrebleu==2.4.0
selenium==4.28.1
semantic-version==2.10.0
sendgrid==6.11.0
sentry-sdk==2.17.0
service-identity==24.2.0
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
sqlparse==0.4.4
starkbank-ecdsa==2.2.0
starlette==0.36.3
sympy==1.12
tabulate==0.9.0
text-unidecode==1.3
textblob==0.17.1
tinycss2==1.2.1
tinysegmenter==0.3
tldextract==5.1.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
tqdm==4.67.1
trio==0.28.0
trio-websocket==0.11.1
Twisted==24.11.0
txaio==23.1.1
typer==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.3.0
userpath==1.9.1
uvicorn==0.27.1
virtualenv==20.20.0
virtualenv-clone==0.5.7
wcwidth==0.2.13
weasyprint==61.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.2
wrapt==1.17.2
wsproto==1.2.0
xmltodict==0.13.0
yarl==1.18.3
zipp==3.21.0
zope.interface==6.1
zopfli==0.2.3
